{% include '_header.twig' %}

{% set record = record %}
{% set authors = record.related('persons') %}
{% set contacts = record.related('person') %}

<!-- Start content -->
<main role="main" class="l-page">
<div class="lc">
    <!-- Start grid -->
    <div class="grid-main">

        <div class="l-content">

        <div class="l-breadcrumbs">
            {% include 'items/_item-breadcrumb.twig' %}
        </div>

        <article class="maincontent">
            <div class="textcontent">

                <div class="articleheader">

                    <h1 class="title">{{ record.title }}</h1>

                    <!-- div class="item-meta-primary">

                        {# set authors #}
                        {% if authors %}
                            {% include 'items/_item-author.twig' with {records : authors} %}
                        {% endif %}

                        {# set readtime #}
                        {#  todo: where did that came from? -> update contenttype "blogpost" #}
                        {% include 'items/_item-readtime.twig' %}

                    </div -->

                    <div class="item-meta-secondary">
                        {# set date #}
                        {% include 'items/_item-date.twig' %}

                        {# set tags #}
                        {% include 'items/_item-tags.twig' %}

                        {# set discus comments #}
                        {% include 'items/_item-comments-link.twig' %}
                    </div>

                </div>

                <div class="prose">
                    
                    <p>{{ record.intro|raw }}</p>
                    
                    {{ record.body|raw }}

                    {# categorization text #}
                    {% include 'items/_item-categorization.twig' %}

                    {# links for portal and api console #}
                    {% if record.apiconsolelink!="" or record.portallink!="" %}
                    <div class="destination-links">
                        <h4>View this item in:</h4>
                        
                        {% if record.apiconsolelink!="" %}
                        <a href="{{ record.apiconsolelink }}" title="View in the API console" class="btn">API console</a>
                        {% endif %}

                        {% if record.portallink!="" %}
                        <a href="{{ record.portallink }}" title="View in the Portal" class="btn">Portal</a>
                        {% endif %}
                        
                    </div>
                    {% endif %}

                </div>

                {# meta secondary #}
                {% if record.provided_by!="" or record.provided_by_link!="" %}
                <div class="item-meta-secondary">
                    
                    {% if record.provided_by!=""%}    
                    <span class="item-comments">
                        <svg class="icon icon-home">
                            <use xlink:href="#icon-home"></use>
                        </svg>
                        <p>{{ record.provided_by }}</p>
                    </span>
                    {% endif %}

                    {% if record.provided_by_link!=""%}
                    <span class="item-comments">
                        <svg class="icon icon-external-link">
                            <use xlink:href="#icon-external-link"></use>
                        </svg>
                        <a href="{{ record.provided_by_link }}">{{ record.provided_by_link }}</a>
                    </span>
                    {% endif %}

                </div>
            {% endif %}

            </div>

            {# set Downloads #}
            {% if record.attachments %}
            <div class="downloads section files">
                <h2>{{ record.contenttype['fields']['attachments'].label }}</h2>
                {% include 'items/_item-filelist.twig' with { records : record.attachments } %}
            </div>
            {% endif %}

            

            {# related content #}
            {% include 'items/_item-related.twig' with {title: "Related content:", short: false} %}

            
            <aside>
                {% include 'items/_item-comments.twig' %}
            </aside>


        </article>
        </div><!--

     --><div class="l-sidebar">
            <div class="inner">

                {# set author #}
                {% include 'items/_item-help.twig' with { records: contacts } %}

            </div>

        </div>
    </div>
    <!-- End grid -->
</div>
</main>
<!-- End Content -->


{% include '_footer.twig' with { sharethis: true} %}

