{# item ext-categorization 

used in:
* record_data.twig

NOTE - These are taxonomies!

#}

{# Only show <UL> if at least one taxonomy has content #} 
{% if
    record.taxonomy.itemtype is defined or
    record.taxonomy.languagecoverage is defined or
    record.taxonomy.subjects is defined or
    record.taxonomy.spatialcoverage is defined or
    record.taxonomy.country is defined or
    record.taxonomy.timecoverage is defined
%}

<ul class="categories-list">
    
{# Add new taxonomies to show if needed. #}    
{% set categorizations = {
    'itemtype':         { name: 'Item Type',            icon: 'icon-label'      },
    'languagecoverage': { name: 'Language Coverage',    icon: 'icon-quote'      },
    'subjects':         { name: 'Subjects',             icon: 'icon-signpost'   },
    'spatialcoverage':  { name: 'Spatial Coverage',     icon: 'icon-map'        },
    'country':          { name: 'Country',              icon: 'icon-map-marker' },
    'timecoverage':     { name: 'Time Coverage',        icon: 'icon-clock'      }
    }
%}


{# forloop for all categorizations #}
{% for type, properties in categorizations %}

    {% if record.taxonomy[type] is defined %}
        <li>
            <span class="item-categories">
                <svg class="icon {{properties.icon}}">
                    <use xlink:href="#{{properties.icon}}"></use>
                </svg>
                <span class="title-category">{{properties.name}}</span>
            </span>
            {% set items = record.taxonomy[type] %}
            <p>
                {% for link,item in items %}
                    <!--{{link}}-->{{ item }}{% if not loop.last %}, {% endif %}
                {% endfor %} 
            </p>
        </li>
        {% endif %}
    {% endfor %}


</ul>

{% endif %}